body,
#root {
  margin-top: 0;
}

.page-container {
  height: 95%;
  width: 90vw;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 4rem;
  padding-top: 2rem;
}

svg {
  margin-bottom: 0.2em;
}

.copy-prompt {
  position: fixed;
  right: 0;
  width: 80px;
}
